* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  /* font-family: 'Montserrat', sans-serif; */
}
.home {
  position: fixed;
  height: 100%;
  overflow: hidden;
}
/*
montserrat regular(400)
opensans:
bold ( 700)
normal (400)
semibold(600)
extrabolditalic(800)
extrabold(900)
italic(400-italic)
bolditalic(700-italic)
*/
